/*
 * @Author: TianTong 
 * @Date: 2019-12-05 10:48:52 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2020-04-01 11:21:32
 */
/* 手机 */
.icon-phone{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/phone.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* 邮箱 */
.icon-mallbox{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/mallbox.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* 消息 */
.icon-msg{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/msg.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 用户 */
.icon-user{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/user.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 等级 */
.icon-level{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/level.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* vip */
.icon-vip{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/vip.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 搜索 */
.icon-search{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-image: url('../images/icon/search.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 编辑 */
.icon-mini-edit{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  background-image: url('../images/icon/edit.png');
  background-size: 22px 22px;
  background-repeat: no-repeat;
}
/* 新歌榜 */
.icon-new-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-repeat: no-repeat;
}
/* 人气榜 */
.icon-person-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -200px;
  background-repeat: no-repeat;
}
/* 飙升榜 */
.icon-soar-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -400px;
  background-repeat: no-repeat;
}
/* 热歌榜 */
.icon-hot-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -600px;
  background-repeat: no-repeat;
}
/* 综合榜 */
.icon-all-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -800px;
  background-repeat: no-repeat;
}
/* 第一 */
.icon-top{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-image: url('../images/icon/rank_num.png');
  background-size: 120px 40px;
  background-position-x: 0;
  background-repeat: no-repeat;
}
/* 第二 */
.icon-top2{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-image: url('../images/icon/rank_num.png');
  background-size: 120px 40px;
  background-position-x: -40px;
  background-repeat: no-repeat;
}
/* 第三 */
.icon-top3{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-image: url('../images/icon/rank_num.png');
  background-size: 120px 40px;
  background-position-x: -80px;
  background-repeat: no-repeat;
}
/* 播放按钮 */
.icon-play{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 58px;
  background-image: url('../images/icon/btn.png');
  background-size: 300px;
  background-repeat: no-repeat;
}
.icon-play:hover{
  background-position-x: -60px;
}
/* 小型播放按钮 */
.icon-mini-play{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/play.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 暂停按钮 */
.icon-pause{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 58px;
  background-image: url('../images/icon/btn.png');
  background-position-y: -60px;
  background-size: 300px;
  background-repeat: no-repeat;
}
/* 上一首 */
.icon-previous{
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  background-image: url('../images/icon/btn.png');
  background-position-x: -72px;
  background-position-y: -143px;
  background-size: 300px;
  background-repeat: no-repeat;
}
.icon-previous:hover{
  background-position-x: -36px;
}
/* 下一首 */
.icon-next{
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  background-image: url('../images/icon/btn.png');
  background-position-x: -216px;
  background-position-y: -143px;
  background-size: 300px;
  background-repeat: no-repeat;
}
.icon-next:hover{
  background-position-x: -180px;
}
/* 音量 */
/* 一般音量 */
.icon-voice{
  margin: 30px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url('../images/icon/btn.png');
  background-position-y: -273px;
  background-size: 420px;
  background-repeat: no-repeat;
}
.icon-voice:hover{
  background-position-x: -22px;
}
/* 最大音量 */
.icon-max-voice{
  margin: 30px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url('../images/icon/btn.png');
  background-position-x: -90px;
  background-position-y: -273px;
  background-size: 420px;
  background-repeat: no-repeat;
}
.icon-max-voice:hover{
  background-position-x: -112px;
}
/* 静音 */
.icon-not-voice{
  margin: 30px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url('../images/icon/btn.png');
  background-position-x: -178px;
  background-position-y: -273px;
  background-size: 420px;
  background-repeat: no-repeat;
}
.icon-not-voice:hover{
  background-position-x: -200px;
}
/* 歌单 */
.icon-music-list{
  width: 23px;
  height: 30px;
  display: inline-block;
  background-image: url('../images/icon/btn.png');
  background-position-x: 0;
  background-position-y: -168px;
  background-size: 420px;
  background-repeat: no-repeat;
}
.icon-music-list:hover{
  background-position-x: -85px;
}
/* 点赞 */
.icon-islike{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/isLike.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 喜欢 */
.icon-like{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/like.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 收藏 */
.icon-collect{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/collect.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 增加 */
.icon-add{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/add.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 暂停 */
.icon-mini-pause{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/pause.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 扩展 */
.icon-mini-extend{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/extend.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 菜单 */
.icon-mini-menu{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/menu.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 垃圾桶 */
.icon-mini-clear{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/clear.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 锁 */
.icon-mini-lock{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/lock.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 解锁 */
.icon-mini-unlock{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/unLock.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* 加载 */
.icon-mini-loading{
  width: auto;
  height: auto;
  display: inline-block;
  background-image: url('../images/icon/loading.png');
  background-size: 100%;
  background-repeat: no-repeat;
  animation: loading 1s linear infinite;
}
@keyframes loading{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}