/*
 * @Author: TianTong 
 * @Date: 2019-12-05 10:48:52 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2019-12-05 11:16:00
 */
/* 手机 */
.icon-phone{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/phone.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* 邮箱 */
.icon-mallbox{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/mallbox.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* 消息 */
.icon-msg{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/msg.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 用户 */
.icon-user{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/user.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 等级 */
.icon-level{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/level.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* vip */
.icon-vip{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-image: url('../images/icon/vip.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 搜索 */
.icon-search{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-image: url('../images/icon/search.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
/* 新歌榜 */
.icon-new-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-repeat: no-repeat;
}
/* 人气榜 */
.icon-person-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -200px;
  background-repeat: no-repeat;
}
/* 飙升榜 */
.icon-soar-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -400px;
  background-repeat: no-repeat;
}
/* 热歌榜 */
.icon-hot-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -600px;
  background-repeat: no-repeat;
}
/* 综合榜 */
.icon-all-music-rank{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100px;
  background-image: url('../images/icon/rank_bg.png');
  background-size: 1000px 100px;
  background-position-x: -800px;
  background-repeat: no-repeat;
}