/*
 * @Author: TianTong 
 * @Date: 2020-01-07 17:23:43 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2020-04-09 09:47:17
 */
.player img{
  width: 100%;
  height: 100%;
}
.player{
  overflow: hidden;
}
.player .bg{
  position: absolute;
  top: -10%;
  left: -10%;
  height: 100%;
  right: -10%;
  bottom: 100px;
  filter: blur(50px);
}
.player .wrap{
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  width: 100%;
}
.player .wrap .content{
  position: relative;
  display: flex;
  margin: 100px auto 0 auto;
  width: 840px;
  height: 100%;
  flex-wrap: nowrap;
}
.player .wrap .content .poster{
  position: relative;
  margin-top: 50px;
  display: inline-block;
  width: 260px;
  height: 340px;
  
}
.player .wrap .content .poster .poster-wrap{
  position: absolute;
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.player .wrap .content .poster .more-wrap{
  display: flex;
  margin-top: 290px;
  width: 100%;
  height: 50px;
  justify-content: space-around;
}
.player .wrap .content .poster .more-wrap .more-btn{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}
.player .wrap .content .poster .more-wrap .more-btn i{
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.player .wrap .content .poster .more-wrap .more-btn i:active{
  transform: translateX(2px) translateY(2px);
  width: 18px;
  height: 18px;
}
.player .wrap .content .poster .more-wrap .more-btn .like{
  margin: 7px 5px 0 5px;
  width: 18px;
  height: 18px;
}
.player .wrap .content .poster .more-wrap .line{
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
.player .wrap .content .poster img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  min-width: 260px;
  height: 260px;
}
.player .wrap .content .info{
  display: inline-block;
  margin-left: 116px;
  width: 460px;
  height: 100%;
  color: #fff;
  font-size: 15px;
}
.player .wrap .content .info .music-title{
  font-size: 24px;
}
.player .wrap .content .info .singer{
  margin: 16px 0 35px 0;
}
.player .wrap .content .info .singer span{
  opacity: .6;
}
.player .wrap .content .info .lyric{
  position: relative;
  height: 60%;
  min-height: 300px;
  overflow-y: auto;
  
}
.player .wrap .content .info .l-btn{
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: #242424;
}
.player .wrap .content .info .lyric .lyric-wrap{
  position: absolute;
  top: 0;
  padding-bottom: 800px;
  transition-duration: .3s;
}
.player .wrap .content .info .lyric .lyric-wrap p{
  margin: 20px 0;
  height: auto;
  width: 80%;
  font-size: 15px;
  line-height: 20px;
  white-space:nowrap;
}
.player .wrap .content .info .lyric .lyric-wrap .active-line{
  color: #01e5ff;
  font-size: 17px;
}
/* 滚动条 */
.player .wrap .content .info .lyric::-webkit-scrollbar{
  width: 10px;    
}
.player .wrap .content .info .lyric::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255,255,255,.3)
}
.player .wrap .content .info .lyric::-webkit-scrollbar-track{
  border-radius: 5px;
  background: rgba(255,255,255,.1);
}


/* 播放列表 */
.player .wrap .content .play-list{
  position: absolute;
  float: right;
  bottom: 80px;
  width: 480px;
  height: 410px;
  background-color: #343434;  
  cursor: pointer;
}
.player .wrap .content .play-list .p-l-clear{
  position: absolute;
  top: 2px;
  right: 15px;
}
.player .wrap .content .play-list .play-btn{
  float: right;
  padding: 15px 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.player .wrap .content .play-list .play-btn i{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}
.player .wrap .content .play-list .play-btn i:active{
  transform: translateX(2px) translateY(2px);
  width: 14px;
  height: 14px;
}
.player .wrap .content .play-list .p-l-title{
  padding: 0 19px;
  height: 50px;
  background-color: #242424;
  line-height: 50px;
  font-size: 16px;
}
.player .wrap .content .play-list .p-l-wrap{
  position: absolute;
  top: 50px;left: 0;bottom: 0;right: 0;
  padding: 0 10px;
  list-style: none;
  overflow-y: auto;
}
/* 滚动条 */
.player .wrap .content .play-list .p-l-wrap::-webkit-scrollbar{
  width: 10px;  
}
.player .wrap .content .play-list .p-l-wrap::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.3)
}
.player .wrap .content .play-list .p-l-wrap::-webkit-scrollbar-track{
  background: rgba(255,255,255,.1);
}
.player .wrap .content .play-list .p-l-wrap li{
  padding: 0 9px;
  height: 39px;
  font-size: 15px;
  border-bottom: 1px solid #42484e;
}
.player .wrap .content .play-list .p-l-wrap .active-music{
  background-color: #42484e;
}
.player .wrap .content .play-list .p-l-wrap li:hover{
  background-color: #4f575e;
  color: #01e5ff;
}
.player .wrap .content .play-list .p-l-wrap li div{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  line-height: 39px;
}
.player .wrap .content .play-list .p-l-wrap li .rank-num{
  margin-right: 16px;
}
.player .wrap .content .play-list .p-l-wrap li .singer{
  float: right;
  margin: 0 16px 0 0;
}
.player .wrap .content .play-list .p-l-wrap li .time{
  float: right;
}
/* 音乐条 */
.player .music-bar{
  position: fixed;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  min-width: 1060px;
  height: 80px;
  overflow: hidden;
  background-color: #fff;
}
.player .music-bar .music-bar-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 120%;
  height: auto;
  filter: blur(50px);
}
.player .music-bar .music-bar-wrap{
  position: absolute;
  display: flex;
  justify-content: center; /* 布局居中 */
  top: 0px;
  width: 100%;
  height: 100%;
}
/* 控制菜单 上/下一首，播放 */
.player .control{
  display: flex;
  justify-content: left; /* 布局居中 */
  width: 230px;
  height: 80px;
}
.player .control .play{
  width: 60px;
  height: 60px;
  margin: 10px 13px;
  transition: all 0.2s;
}
.player .control .play i{
  width: 60px;
  height: 60px;
}
.player .control .previous{
  width: 36px;
  height: 36px;
  margin: 21px 13px;
}
.player .control div:active{
  opacity: 0.5;
  transition: 0s;
  transform: translateY(4px);
}
/* 
 *
 *
 *    进度条
 *
 * 
 */
/* 整体框架 */
.player .progress-bar{
  position: relative;
  width: 650px;
  height: 5px;
  border-radius: 2px;
  display: inline-block;
  background: #ccc;
  margin-top: 37px;
  cursor: pointer;
}
/* 时间 */
.player .progress-bar span{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 13px;
}
/* 红色进度条 */
.player .progress-bar .m-progress{
  position: absolute;
  width: 0;
  height: 5px;
  background: #d81e06;
  border-radius: 2px;
  
}
/* 进度条图标 */
.player .progress-bar .m-p-icon{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: -6px;
  border-radius: 8px;
  background: #fff;
}
/* 歌单按钮 */
.player .music-list-btn{
  margin: 25px 0;
  padding-right: 12px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  font-size: 13px;
  text-align: right;
  line-height: 32px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}
.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currentlynot supported by any browser */
}