/* 文字按钮样式 */
.my-btn{
  margin-right: 20px;
  padding: 1px 10px;
  height: 20px;
  font-size: 14px;
  border: 1px solid #242424;
  border-radius: 2px;
  cursor: pointer;
  user-select:none;
}
.my-btn:hover{
  border-color: #3D8A0A;
}
.my-btn:active{
  color: #fff;
  border-color: #242424;
  background-color: #3D8A0A;
}

/* 添加按钮 */
.my-add-btn{
  border: 1px solid #242424;
  border-radius: 2px;
  cursor: pointer;
  user-select:none;
}
.my-add-btn::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 65%;
  width: 2px;
  background-color: #242424;
}
.my-add-btn::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 2px;
  width: 65%;
  background-color: #242424;
}
.my-add-btn:hover{
  border-color: #3D8A0A;
}
.my-add-btn:active{
  border-color: #242424;
  background-color: #3D8A0A;
}
.my-add-btn:active::before{
  background-color: #fff;
}
.my-add-btn:active::after{
  background-color: #fff;
}
/* 公用样式 */
html, body, input, ul, li{
  margin: 0px;
  padding: 0px;
}
html, body{
  height: 100%;
  overflow-x: hidden;
}
#app {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /* 字体抗锯齿，提升字体清晰度，不过没什么用 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}