.rank{
  width: 100%;
}
.rank .wrap{
  margin: 0 auto;
  padding-bottom: 36px;
  width: 1100px;
}
.rank .wrap .title{
  padding-top: 16px;
  margin-bottom: 16px;
  height: 50px;
  font-weight: 600;
  font-size: 17px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.wrap .card-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-list .card{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 740px;
  background-color: #fff;
 
}
.card-list .card:hover{
  box-shadow: 0 0 12px 5px rgba(204, 204, 204, .8);
}
.card-list .card:hover .head-img{
  opacity: .7;
  transform: rotate(100deg);
  box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, .8);
}
.card-list .card .head-img{
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 200px;
  height: 100px;
  background-color: #fff;
  transform-origin: 0 0;
  transition-duration: .3s;
}
.card-list .card .rank-operating{
  margin: 10px;
  width: 180px;
  height: 80px;
  background-color: rbga(255, 0, 0, 0);
  cursor: pointer;
}
.card-list .card .rank-operating .rank-msg{
  line-height: 30px;
  font-weight: 600;
  font-size: 17px;
}
.card-list .card .rank-operating .rank-msg span{
  font-size: 5px;
}
.card-list .card .rank-operating .operating-wrap .top-img{
  width: 50px;
  height: 50px;
}
.card-list .card .rank-operating .operating-wrap .operating{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  height: 50px;
  width: 90px;
  font-size: 10px;
  line-height: 50px;
}
.card-list .card .rank-operating .operating-wrap .operating span:hover{
  color: blue;
  font-weight: 600;
  text-decoration: underline;
}
.card-list .card .card-content{
  position: absolute;
  top: 100px;
  width: 200px;
  height: 100px;
  transition-duration: .3s;
}
.card-list .card .card-content ul{
  list-style: none;
}
.card-list .card .card-content ul li{
  margin: 10px 0;
  height: 60px;
  list-style: none;
  cursor: pointer;
}
.card-list .card .card-content ul li .rank-num{
  display: inline-block;
  margin: 10px 10px 10px 0;
  height: 40px;
  width: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
.card-list .card .card-content ul li .content{
  float: right;
  margin: 12px 0;
  width: 150px;
  font-size: 12px;
  overflow: hidden;
}
.card-list .card .card-content ul li:hover{
  box-shadow: 0 0 12px 5px rgba(204, 204, 204, .8);
}
.card-list .card .card-content ul li:hover .content .name{
  font-weight: 900;
  color: #000;
}
.card-list .card .card-content ul li .content .name{
  width: 160px;
  height: 20px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
}
.card-list .card .card-content ul li:hover .singer{
  font-weight: 600;
  color: #333;
}
.card-list .card .card-content ul li .content .singer{
  color: #999;
}