/*
 * @Author: TianTong 
 * @Date: 2019-12-11 11:04:34 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2020-01-15 16:45:14
 */
ul{
  list-style: none;
}
.singer{
  padding-top: 36px;
  width: 100%;
}
.singer .wrap{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1100px;
}
.singer .wrap .type{
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 740px;
}
.singer .wrap .type::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 260px;
  vertical-align: top;
  width: 1px;
  background-color: #ccc;
}

/* 排行榜左侧标题头 */
.type .type-title{
  width: 240px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 12px 5px rgba(204, 204, 204, .8);
}
.wrap .type .type-title:hover .activeTitle{
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
.singer .wrap .type .type-title li:hover{
  background-color: #242424;
  font-weight: 600;
  color: #fff;
}
.wrap .type .type-title .activeTitle{
  background-color: #242424;
  border: 1px solid #fff;
  color: #fff;
}
.type .type-title li{
  display: inline-block;
  width: 78px;
  height: 50px;
  border: 1px solid #fff;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #222;
  cursor: pointer;
}

/* 左侧排行榜内容列表 */
.type .type-list{
  position: relative;
  width: 240px;
  height: 690px;
  overflow: hidden;
}
.type .type-list .type-list-wrap{
  position: absolute;
  top: 20px;
  left: 55px;
  width: 720px;
  transition-duration: .3s;
}
.type .type-list .type-list-wrap ul{
  display: inline-block;
  width: 240px;
  text-align: right;
}
.type-list-wrap ul li{
  width: 170px;
  margin-bottom: 10px;
  padding-right: 15px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 30px;
  background-color: #fff;
  cursor: pointer;
}
.type-list .type-list-wrap ul .activeTitleContent{
  background-color: #242424;
  box-shadow: -4px 4px 4px rgba(204, 204, 204, .8);
  color: #fff;
  border: 1px solid #fff;
}
.type-list .type-list-wrap ul:hover .activeTitleContent{
  background-color: #fff;
  box-shadow: -4px 4px 4px rgba(204, 204, 204, 0);
  color: #000;
  border: 1px solid #fff;
}
.singer .wrap .type .type-list .type-list-wrap ul li:hover{
  background-color: #242424;
  box-shadow: -4px 4px 4px rgba(204, 204, 204, .8);
  font-weight: 600;
  color: #fff;
}
.singer .wrap .type .type-title .active{
  color: #000;
}


/* 列表 */
.singer .wrap .list{
  float: right;
  vertical-align: top;
  width: 820px;
}
.singer .wrap .list .list-title{
  padding-top: 0px;
  margin-bottom: 16px;
  height: 50px;
  font-weight: 600;
  font-size: 17px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.singer .wrap .list .card{
  display: inline-block;
  margin: 0 17px;
  width: 170px;
  height: 220px;
  text-align: center;
  cursor: pointer;
}
.singer .wrap .list .card .img-wrap{
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.singer .wrap .list .card .img-wrap img{
  width: 170px;
}
.singer .wrap .list span{
  display: inline-block;
  height: 40px;
  line-height:40px;
  font-size: 14px;;
}
.singer .wrap .list span:hover{
  text-decoration: underline;
}

/* 分页 */
.singer .wrap .list .pagination{
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -55px;
  right: -50px;
  height: 110px;
  width: 50px;
}
.singer .wrap .list .pagination .p-btn{
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-size: cover;;
  transform: rotate(90deg);
  background-color: #999;
}
.singer .wrap .list .pagination .p-btn:hover{
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-size: cover;;
  transform: rotate(90deg);
  background-color: #444;
}
.singer .wrap .list .pagination .p-btn:active{
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-size: cover;;
  transform: rotate(90deg);
  background-color: #242424;
}
.singer .wrap .list .pagination .prev{
  margin-bottom: 10px;
  background-image: url(./../images/btn_left.png);
}
.singer .wrap .list .pagination .next{
  margin-bottom: 10px;
  background-image: url(./../images/btn_right.png);
}