.singerinfo{
  width: 100%;
}
.singerinfo .wrap{
  margin: 0 auto;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}
.singerinfo .wrap .info{
  width: 180px;
  font-size: 14px;
  line-height: 22px;
}
.singerinfo .wrap .music-list{
  width: 920px;
  overflow-y: auto;
}
.singerinfo .info .poster{
  position: relative;
  width: 148px;
  height: 148px;
  overflow: hidden;
}
.singerinfo .info .poster img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 148px;
}
.singerinfo .info .name{
  margin-top: 16px;
}
.singerinfo .info span{
  color: #585858;
}
.singerinfo .info .detail-info{
  margin-top: 8px;
  width: 148px;
}
/* 列表 */
.singerinfo .wrap .music-list .title{
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #242424;
  border-bottom: 1px solid #242424;
}
.singerinfo .music-list ul{
  list-style: none;
}
.singerinfo .music-list li{
  background-color: #ddd;
}
.singerinfo .music-list li .music-name{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  cursor: pointer;
}
.singerinfo .music-list li .rank-num{
  display: inline-block;
  height: 50px;
  width: 36px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.singerinfo .music-list li .time{
  float: right;
  margin-right: 14px;
  line-height: 50px;
}
.singerinfo .music-list li .play-btn{
  position: relative;
  float: right;
  padding: 17px 10px;
  width: 16px;
  height: 16px;
}
.singerinfo .music-list li .play-btn i{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}
.singerinfo .music-list li .play-btn .delete-btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  height: 30%;
  width: 2px;
  background-color: #fff;
}
.singerinfo .music-list li .btn{
  position: relative;
  margin: 14px 14px;
  float: right;
  width: 22px;
  height: 22px;
}
.singerinfo .music-list li:hover{
  color: #fff;
  background-color: #242424;
}
.singerinfo .music-list li:nth-of-type(even){
  background-color: #ccc;
} 
.singerinfo .music-list li:nth-of-type(even):hover{
  color: #fff;
  background-color: #242424;
}