.user{
  width: 100%;
}
.user .user-wrap{
  margin: 0 auto;
  padding: 40px;
  width: 1018px;
  border: 1px solid #242424;
  border-top: 0;
  border-bottom: 0;
  background-color: #FFF;
}
.user .user-wrap .info{
  display: flex;
}
.user .user-wrap .info .user-img{
  position: relative;
  display: inline-block;
  margin-right: 40px;
  padding: 4px;
  width: 188px;
  height: 188px;
  background-color: #eee;
  border: 1px solid #242424;
  overflow: hidden;
}
.user .user-wrap .info .user-img::before{
  position: absolute;
  content: '';
  bottom: 0px;
  height: 4px;
  width: 100%;
  background-color: #eee;
}
.user .user-wrap .info .user-img img{
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.user .user-wrap .info .user-info{
  flex: 1;
}
.user .user-wrap .info .user-info .user-name{
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #C20C0C;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
}
.user .user-wrap .info .user-info .data-bar{
  margin: 10px 0;
  color: #848484;
  font-size: 15px;
}
.user .user-wrap .info .user-info .data-bar span{
  color: #242424;
  font-weight: 600;
}
.user .user-wrap .info .user-info .info-btn{
  display: inline-block;
  margin-right: 20px;
}

/* 歌单 */
.user .user-wrap .music-list{
  margin-top: 40px;
  min-height: 612px;
}
.user .user-wrap .music-list .list-title{
  width: 100%;
  height: 40px;
  line-height: 30px;
  font-size: 22px;
  border-bottom: 2px solid #C20C0C;
}
.user .user-wrap .music-list .list-title span{
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.user .user-wrap .music-list .list-title .active-span{
  border-bottom: 2px solid #C20C0C;
}
.user .user-wrap .music-list .list-btn{
  position: relative;
  float: right;
  margin: 3px 15px 0 0;
  height: 20px;
  width: 20px;
}
.user .user-wrap .music-list .card-wrap{
  margin: 0 -41px;
  width: 1100px;
}
.user .user-wrap .music-list .card-wrap .music-list-card{
  position: relative;
  display: inline-block;
  margin: 20px 40px 0 40px;
  width: 140px;
  height: 170px;
}
.user .user-wrap .music-list .card-wrap .music-list-card .poster{
  position: relative;
  width: 138px;
  height: 138px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.user .user-wrap .music-list .card-wrap .music-list-card .poster .delete-btn{
  position: absolute;
  z-index: 4;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.3);
  cursor: pointer;
}
.user .user-wrap .music-list .card-wrap .music-list-card .poster .delete-btn::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 4px;
  width: 35%;
  border-radius: 2px;
  background-color: #EB0102;
  box-shadow: 0 2px 2px 2px rgba(24, 24, 24, 0.3);
}
.user .user-wrap .music-list .card-wrap .music-list-card .poster img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.user .user-wrap .music-list .card-wrap .music-list-card .card-name{
  position: absolute;
  bottom: 0;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  line-height: 15px;
}
.user .user-wrap .music-list .card-wrap .music-list-card .card-info{
  position: absolute;
  top: 113px;
  height: 25px;
  width: 140px;
  background-color: rgba(36, 36, 36, .6);
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  line-height: 27px;
  color: #ccc;
  font-size: 13px;
}
.user .user-wrap .music-list .card-wrap .music-list-card .play-btn{
  display: inline-block;
  vertical-align: top;
  margin: 2px 7px;
}
.user .user-wrap .music-list .card-wrap .music-list-card .edit-btn{
  float: right;
  margin: 2px 7px;
  cursor: pointer;
}
/* line-style */
.user .user-wrap .line-style{
  display: flex;
  margin: 10px 0;
  justify-content: flex-start;
  line-height: 30px;
  font-size: 14px;
}
.user .user-wrap .line-style .line-label{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 60px;
  text-align: right;
}
.user .user-wrap .line-style .input-file{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.user .user-wrap .line-style .file-wrap{
  position: relative;
}
.user .user-wrap .line-style .file-wrap .file-name{
  width: 220px;
  overflow: hidden;
  font-size: 9px;
  color: aqua;
}
.user .user-wrap .line-style .file-wrap .preview-img-wrap{
  position: relative;
  margin-top: 20px;
  width: 218px;
  height: 218px;
  overflow: hidden;
  border: 1px solid #242424;
  border-radius: 4px;
}
.user .user-wrap .line-style .file-wrap .preview-img-wrap::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 25%;
  width: 2px;
  background-color: #242424;
}
.user .user-wrap .line-style .file-wrap .preview-img-wrap::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  height: 2px;
  width: 25%;
  background-color: #242424;
}
.user .user-wrap .line-style .file-wrap .preview-img-wrap img{
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.user .user-wrap .line-style .file-btn{
  width: 198px;
  height: 24px;
  line-height: 26px;
  border-radius: 4px;
}
/* line-style 结束 */

.user .user-wrap .footer .info-btn {
  margin-left: 20px;
  width: 50px;
}
